* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:rgb(212, 212, 212);
    margin: 0px;
}

html {
    display: flex;
    justify-content: center;
}

#nav-traces {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 1rem 1rem;
}

body {
    background-color: rgb(61, 61, 61);
    display: flex;
    flex-direction: column;
    padding: 14px;
    min-height: 100vh;
    max-width: 900px;
    flex: 1;
    box-shadow: 0 0 10px 5px black;
}

.header {
    margin: 4px 0px 20px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(228, 74, 18);
    border-radius: 12px;
    padding: 10px;
}

.header-title {
    font-size: 24px;
}

h2 {
    margin: 10px 0px 4px 0px;
}

ul {
    margin: 4px 0px 20px 0px;
}

a {
    font-size: 14px;
}

p {
    font-size: 14px;
    margin: 8px;
}

.small-list {
    font-size: 14px;
}

.code-snippet {
    border: 2px dashed coral;
    margin: 0px 0px 10px 8px;
    padding: 4px 4px 8px 4px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
    max-width: 800px;
    word-break: break-word;
}

#code-highlight {
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
    color: lightsalmon;
}

#highlight {
    color: lightsalmon;
}

.footer {
    background-color: rgb(90, 90, 90);
    padding: 14px;
    font-size: 14px;
    font-style: italic;
    margin-top: auto;
    /* pinning footer to the bottom */
    border-radius: 14px;
}

/* css table */

.two-column-container {
  display: flex;
}

.column {
  flex: 1; 
  padding: 10px; 
  border: 1px solid #ccc;
  font-family: 'Courier New', Courier, monospace;
  font-size: 12px;
  word-break: break-word;
}

.column.left {
  flex: 0 0 25%;
  /* max-width: 170px; */
  word-break: break-word;
}

.column.right {
  flex: 1; /* Flex right column to take remaining space */
  max-width: 600px;
  word-break: break-word;
}

.tbl-header {
    background-color: rgb(228, 90, 39);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    font-weight: bold;
}

img {
    max-width: 100%;
    height: auto;
}